.dashbord-left-menu-icon {
    font-size: 20px !important;
    margin-right: 5px;
}

.dashbord-nav-menu-icon {
    font-size: 17px !important;
}

.avatar-upload>input {
    display: none;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    /* border-bottom: 2px solid #d9d9d9; */
    padding-bottom: 0px;
    margin-bottom: 27px;
}

.label-input100 {
    /* font-family: Poppins-Regular; */
    font-size: 15px;
    color: #666666;
    line-height: 0;
    padding-left: 5px;
}

.input-no-border {
    outline: none !important;
    border: none !important;
    border-bottom: 2px solid #d9d9d9 !important;
    border-radius: 0% !important;
    /* background-color: transparent !important; */
}

.dataTables_length select {
    padding-left: 10px !important;
    width: 60px !important;
}